
body {
  padding-bottom: 40px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-divider {
  margin: 80px 0;
  border: 1px solid black;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-size: 50px;
}

.col-md-12 {
  text-align: center;
}

.toppage {
  background-image: url("../images/html_code.jpg");
}

.me {
  margin-left: 125px;
}
.introtext {
  font-size: 70px;
  color: white;
  margin-top: 30px;
}
.introtext2 {
  font-size: 40px;
  color: white;
  margin-top: 30px;
}
.dropdown {
    display: inline-block;
}

.portfolio {
  width: 150px;
  height: 200px;
  margin-left: 0
}

.projects {
  font-size: 25px;
  padding-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
